<?xml version="1.0"?>
<config>
    <modules>
        <Zero1_CustomOrderGrid>
            <version>0.1.0</version>
        </Zero1_CustomOrderGrid>
    </modules>
    <global>
        <models>
            <zero1_customordergrid>
                <class>Zero1_CustomOrderGrid_Model</class>
            </zero1_customordergrid>
        </models>
        <blocks>
            <zero1_customordergrid>
                <class>Zero1_CustomOrderGrid_Block</class>
            </zero1_customordergrid>
        </blocks>
        <helpers>
            <zero1_customordergrid>
                <class>Zero1_CustomOrderGrid_Helper</class>
            </zero1_customordergrid>
        </helpers>
        <resources>
            <zero1_customordergrid_setup>
                <setup>
                    <module>Zero1_CustomOrderGrid</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </zero1_customordergrid_setup>
        </resources>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <zero1_customordergrid>
                        <type>model</type>
                        <class>zero1_customordergrid/observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </zero1_customordergrid>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <zero1_customordergrid>
                    <file>zero1/customordergrid.xml</file>
                </zero1_customordergrid>
            </updates>
        </layout>
    </adminhtml>
</config>